.cover__subtitle {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: #ffffff;
  text-align: center;
  font-style: normal;
  margin: 32px 0 0;
  width: 360px;
  height: 66px;
}
