.lead__caption {
  height: 14px;
  margin: 8px 0 0;
  font-weight: 400;
  color: #ffffff;
  font-size: 10px;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  align-self: flex-start;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    padding: 0 0 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .lead__caption {
    padding: 0 0 0 16px;
  }
}
